body{
    display: flex;
    justify-content: center;
    background-color:rgb(255, 183, 183);
}
.container{
    margin-top: 1rem;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 2px 3px 4px black;
    background-color: WHITE;
    min-height: 500px;
    min-width: 350px;
    padding: 1rem;
    background-size: 10px 35px;
    background-repeat: repeat;
    background-image: repeating-linear-gradient(0deg, rgb(156,150,114) , rgb(245,227,127)1px, #e5e5f7 1px, #e5e5f7 );
}
.container h1{
    text-align: center;

}